<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.blackseed.blackimob">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddImovelActivity"
            android:label="@string/novo_imovel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.blackseed.blackimob.MainActivity" />
        </activity>
        <activity
            android:name=".AddLocacaoActivity"
            android:label="@string/nova_locacao"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.blackseed.blackimob.MainActivity" />
        </activity>
        <activity
            android:name=".AddInquilinoActivity"
            android:label="@string/nova_pessoa"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.blackseed.blackimob.MainActivity" />
        </activity>
        <activity
            android:name=".detail.DetailPessoaFisicaActivity"
            android:label="@string/title_activity_detail_pessoa_fisica"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.blackseed.blackimob.MainActivity" />
        </activity>

        <activity
            android:name=".detail.DetailPessoaJuridicaActivity"
            android:label="@string/title_activity_detail_pessoa_juridica"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.blackseed.blackimob.MainActivity" />
        </activity>
    </application>

</manifest>